<h1>Página do Front</h1>
body {
    background-image: url('https://www.area17.com.br/admin/fotos/estabelecimentos/chokito-petshop-recife-45283_61095b750dcd4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}